@import "tailwindcss";

/*Error Popup Animations*/
@keyframes slide-in {
    from {
        left: -100%;
    } 
    to {
        left: 0;
    }
}

@keyframes slide-out {
    from {
        left: 0;
    } 
    to {
        left: -100%;
    }
}
/*Error Popup Animations*/

/*Sidebar Animations*/
@keyframes in-sidebar {
    from {
        transform: translateX(85%)
    }
    to {
        transform: translateX(0)
    }
}

@keyframes out-sidebar {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(85%)
    }
}
/*Sidebar Animations*/

/*Sidebar Scrollbar*/
#sidebarContainer {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#scrsidebarContainer::-webkit-scrollbar {
    display: none;
}
/*Sidebar Scrollbar*/