@import "tailwindcss";

/*Error Popup Animations*/
.in {
    animation: slide-in .75s ease forwards;
}

.out {
    animation: slide-out .75s ease forwards;
}

@keyframes slide-in {
    from {
        left: -100%;
    } 
    to {
        left: 0;
    }
}

@keyframes slide-out {
    from {
        left: 0;
    } 
    to {
        left: -100%;
    }
}
/*Error Popup Animations*/

/*Sidebar*/
#sidebarContainer {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#scrsidebarContainer::-webkit-scrollbar {
    display: none;
}
/*Sidebar*/