@import "tailwindcss";

/*Error Popup Animations*/
@keyframes slide-in {
    from {left: -100%;} 
    to {left: 0;}
}

@keyframes slide-out {
    from {left: 0;} 
    to {left: -100%;}
}
/*Error Popup Animations*/

/*Hide Sidebar Scrollbar*/
#sidebarContainer {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#scrsidebarContainer::-webkit-scrollbar {
    display: none;
}
/*Hide Sidebar Scrollbar*/

/*Drag Style*/
.drag-over {
    border-color: #fb2c36 !important;
    outline: 1px solid #fb2c36;
}
/*Drag Style*/

/*Spin*/
@keyframes spin {
    from {rotate: 0deg;}
    to {rotate: 360deg;}
}
/*Spin*/